<p>El usuario <%= @name %> ha comprado <%= @coupon_name %></p>
<br>
<p>Datos de contacto:</p>
<p>Nombre: <%= @name %></p>
<p>Correo: <%= @email %></p>
<p>Telefono: <%= @phone %></p>
<p>Detalles de la compra:</p>
<p>Forma de pago: <%= @payment_method %></p>
<p>Fecha: <%= @date %></p>
<p>Valor: <%= @total %></p>
