<p>El usuario <%= @name %> ha realizado un pago por <%= @value %></p>
<br>
<p>Detalles del pago:</p>
<p>Nombre: <%= @name %></p>
<p>Correo: <%= @email %></p>
<p>Telefono: <%= @phone %></p>
<p>Cupon: <%= @coupon_name %></p>
<p>Valor: <%= @value %></p>
